projects/dom-naprotiv.pug
extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика микро-медиа «Дом напротив»
    a.nc.half «Дом напротив» — это микро-медиа, которое освещает проблемные темы об инвалидности, синдроме Туретта, стереотипах, ПТСР и тд. Название показывает разницу между нами и ними, тем не менее это все находится рядом, в доме напротив. Дом выступает как микросоциум, где мы противопоставлены друг другу, хотя живем рядом. <br><br>
    a.half(href="https://t.me/dom_naprotiv") https://t.me/dom_naprotiv
  img.full-width(src="img/dom-naprotiv/desktop-logo.png")
  img.full-width(src="img/dom-naprotiv/desktop-2.png")
  <br>
  a.nc.otstup.half Все что угодно брендируется просто светом <br><br>
  <br>
  a.nc.otstup.half В основе стиля — свет, который направлен от одного слова к другому, в буквальном смысле обыгрывая название и создавая разные образы. <br><br>
  img.full-width(src="img/dom-naprotiv/desktop-4.png")
  <br>
  a.nc.otstup.half Работа айдентики в оформлении группы ВК <br><br>
  img.full-width(src="img/dom-naprotiv/desktop-6.png")
  img.full-width(src="img/dom-naprotiv/desktop-9.png")
  img.full-width(src="img/dom-naprotiv/desktop-10.png")
  img.full-width(src="img/dom-naprotiv/desktop-8.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Дата:
      <br>
      a 20 января 2020

projects/dom-naprotiv.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Логотип и айдентика микро-медиа «Дом напротив»</h1><a class="nc half">«Дом напротив» — это микро-медиа, которое освещает проблемные темы об инвалидности, синдроме Туретта, стереотипах, ПТСР и тд. Название показывает разницу между нами и ними, тем не менее это все находится рядом, в доме напротив. Дом выступает как микросоциум, где мы противопоставлены друг другу, хотя живем рядом. <br><br></a><a class="half" href="https://t.me/dom_naprotiv">https://t.me/dom_naprotiv</a></div><img class="full-width" src="img/dom-naprotiv/desktop-logo.png"><img class="full-width" src="img/dom-naprotiv/desktop-2.png"><br><a class="nc otstup half">Все что угодно брендируется просто светом <br><br></a><br><a class="nc otstup half">В основе стиля — свет, который направлен от одного слова к другому, в буквальном смысле обыгрывая название и создавая разные образы. <br><br></a><img class="full-width" src="img/dom-naprotiv/desktop-4.png"><br><a class="nc otstup half">Работа айдентики в оформлении группы ВК <br><br></a><img class="full-width" src="img/dom-naprotiv/desktop-6.png"><img class="full-width" src="img/dom-naprotiv/desktop-9.png"><img class="full-width" src="img/dom-naprotiv/desktop-10.png"><img class="full-width" src="img/dom-naprotiv/desktop-8.png"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Катя Кан</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>20 января 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
