projects/dreamdesigner2.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Дизайнер мечты 2</h1></div><img class="full-width" src="img/dreamdesigner/dreamdesigner2.png"><a class="nc otstup half">Ищем дизайнера мечты. Веб, интерфейсы, дизайн-системы, макеты, картинки там. Чтобы прям всё сам умел, а еще был умнее всех. Тестовое задание — написать о себе так классно, чтобы не возникало вопросов. Или просто написать.</a><br><br><a class="nc otstup half bold">Что важно <br></a><ul><li>— Знать про Бюро, Студию, всякие там Бирманы, Ильяховы, Товеровские. Обо всем знать, но быть острожным.</li><li>— Уметь работать по принципу «сделать». (Пинать всех, чтобы тоже умели)</li><li>— Рисовать макеты лучше, чем Векк.</li><li>— Не бояться показывать черновики.</li><li>— Уметь понять где плохой текст, картинка, интерфейс, всё что угодно.</li><li>— Объяснять, пояснять, убеждать.</li><li>— Самому уметь говорить с клиентом (или хотеть научиться).</li><li>— Самому уметь говорить с клиентом (или хотеть научиться).</li><li>— Быть молодцом.</li></ul><a class="nc otstup half"> </a><br><a class="nc otstup half bold">Что не важно <br></a><ul><li>— Где вы живете и сколько времени хотите работать.</li><li>— Какого вы пола и национальности.</li><li>— Левша вы или правша.</li></ul><a class="nc otstup half bold">А еще вот это <br></a><ul><li>— У нас пока нет ЗП, это проектная работа. Мы договариваемся на одну денежку и работаем.</li><li>— Это не стажировка, не тестовое задание, а реальный проект.</li><li>— Не для новичков, нужно уже пройти все стадии незнания простых вещей.</li><li>— Нужно иметь за пазухой два-три веб-проекта и рассказ о себе.</li><li>— Не расстраиваться, если у нас ничего не выйдет</li></ul><a class="nc otstup half">Если это вы — пишите: </a><a class="otstup half" href="tg://resolve?domain=veqqa">@veqqa <br></a><a class="nc otstup half">Если знаете клевого — перешлите. <br><br></a><a class="nc otstup half">А еще ниже почта есть.</a><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/dreamdesigner2.pug
extends ../base.pug
block content
  div.description
    h1.works Дизайнер мечты 2
  img.full-width(src="img/dreamdesigner/dreamdesigner2.png")
  a.nc.otstup.half Ищем дизайнера мечты. Веб, интерфейсы, дизайн-системы, макеты, картинки там. Чтобы прям всё сам умел, а еще был умнее всех. Тестовое задание — написать о себе так классно, чтобы не возникало вопросов. Или просто написать.
  <br><br>
  a.nc.otstup.half.bold Что важно <br>
  ul
    li — Знать про Бюро, Студию, всякие там Бирманы, Ильяховы, Товеровские. Обо всем знать, но быть острожным.
    li — Уметь работать по принципу «сделать». (Пинать всех, чтобы тоже умели)
    li — Рисовать макеты лучше, чем Векк.
    li — Не бояться показывать черновики.
    li — Уметь понять где плохой текст, картинка, интерфейс, всё что угодно.
    li — Объяснять, пояснять, убеждать.
    li — Самому уметь говорить с клиентом (или хотеть научиться).
    li — Самому уметь говорить с клиентом (или хотеть научиться).
    li — Быть молодцом.
  a.nc.otstup.half 
  <br>
  a.nc.otstup.half.bold Что не важно <br>
  ul
    li — Где вы живете и сколько времени хотите работать.
    li — Какого вы пола и национальности.
    li — Левша вы или правша.
  a.nc.otstup.half.bold А еще вот это <br>
  ul
    li — У нас пока нет ЗП, это проектная работа. Мы договариваемся на одну денежку и работаем.
    li — Это не стажировка, не тестовое задание, а реальный проект.
    li — Не для новичков, нужно уже пройти все стадии незнания простых вещей.
    li — Нужно иметь за пазухой два-три веб-проекта и рассказ о себе.
    li — Не расстраиваться, если у нас ничего не выйдет
  a.nc.otstup.half Если это вы — пишите: 
  a.otstup.half(href="tg://resolve?domain=veqqa") @veqqa <br>
  a.nc.otstup.half Если знаете клевого — перешлите. <br><br>
  a.nc.otstup.half А еще ниже почта есть.
