projects/dvor-logo.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Логотип, концепция и айдентика Двора</h1><a class="nc half">Мы называемся дизайн-студия Двор. Задача логотипа и стиля — транслировать нашу основную идею, которая заключается в том, чтобы улучшать всё в своем дворе. «Наш двор» — понятие растяжимое. Сейчас это несколько компаний, для которых мы делаем проекты в области графического дизайна и веба. Со временем наш двор будет расти пропорционально количеству сделанных проектов и компаний, которые с нами работают. <br><br></a><a class="nc half">Форма знака состоит из дуги, умеренных плеч и основного штриха, который может быть чем угодно, поэтому его роль играет надпись «dvor». <br><br></a><a class="half" href="tg://resolve?domain=dvordesign">tg/@dvordesign</a></div><img class="full-width" src="img/dvor-logo/d1.jpg"><a class="nc otstup half">Дуга и плечи — постоянные, надпись — переменная, которая меняется в зависимости от контекста. Это позволяет использовать знак в самых разных ситуациях и образах. <br><br></a><img class="full-width" src="img/dvor-logo/d2.jpg"><img class="full-width mobile" src="img/dvor-logo/d3.jpg"><div class="full-width parallax desktop" style="background-image: url(img/dvor-logo/d3.jpg)"></div><img class="full-width" src="img/dvor-logo/d8.jpg"><img class="full-width" src="img/dvor-logo/d4.jpg"><img class="full-width" src="img/dvor-logo/d7.jpg"><img class="full-width mobile" src="img/dvor-logo/d6.jpg"><div class="full-width parallax desktop" style="background-image: url(img/dvor-logo/d6.jpg)"></div><img class="full-width" src="img/dvor-logo/d9.jpg"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Технолог:</a><br><a>Александра Травкина</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>19 августа 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/dvor-logo.pug
extends ../base.pug
block content
  div.description
    h1.works Логотип, концепция и айдентика Двора
    a.nc.half Мы называемся дизайн-студия Двор. Задача логотипа и стиля — транслировать нашу основную идею, которая заключается в том, чтобы улучшать всё в своем дворе. «Наш двор» — понятие растяжимое. Сейчас это несколько компаний, для которых мы делаем проекты в области графического дизайна и веба. Со временем наш двор будет расти пропорционально количеству сделанных проектов и компаний, которые с нами работают. <br><br>
    a.nc.half Форма знака состоит из дуги, умеренных плеч и основного штриха, который может быть чем угодно, поэтому его роль играет надпись «dvor». <br><br>
    a.half(href="tg://resolve?domain=dvordesign") tg/@dvordesign
  img.full-width(src="img/dvor-logo/d1.jpg")
  a.nc.otstup.half Дуга и плечи — постоянные, надпись — переменная, которая меняется в зависимости от контекста. Это позволяет использовать знак в самых разных ситуациях и образах. <br><br>
  img.full-width(src="img/dvor-logo/d2.jpg")
  img.full-width.mobile(src="img/dvor-logo/d3.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/dvor-logo/d3.jpg)" )
  img.full-width(src="img/dvor-logo/d8.jpg")
  img.full-width(src="img/dvor-logo/d4.jpg")
  img.full-width(src="img/dvor-logo/d7.jpg")
  img.full-width.mobile(src="img/dvor-logo/d6.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/dvor-logo/d6.jpg)" )
  img.full-width(src="img/dvor-logo/d9.jpg")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 19 августа 2019
