projects/inteldome-banners.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Рекламные баннеры для Интелдома</h1><a href="inteldome-logo.html">Айдентика</a><a>- </a><a href="inteldome-site.html">Сайт</a><a>- </a><a>Рекламные баннеры <br><br></a><a class="nc half"> Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Мы сделали компании новые баннеры, которые показываются на форумах и сайтах; задача — привлечь внимание и спровоцировать перейти на сайт. <br><br></a><a class="nc half"> Чаще всего баннеры на форумах буквально кричат о том, чтобы на них нажали. Мы решили пойти по другому пути и сделали мягкую анимацию, которая выделяется своей легкостью. <br><br></a></div><img class="full-width" src="img/inteldome-banners/download-2.gif"><br><a class="nc otstup"> Второй, статичный банер <br><br></a><img class="full-width" src="img/inteldome-banners/bann-2.png"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Катя Кан</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>15 апреля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/inteldome-banners.pug
extends ../base.pug
block content
  div.description
    h1.works Рекламные баннеры для Интелдома
    a(href="inteldome-logo.html") Айдентика
    a - 
    a(href="inteldome-site.html") Сайт
    a - 
    a() Рекламные баннеры <br><br>
    a.nc.half  Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Мы сделали компании новые баннеры, которые показываются на форумах и сайтах; задача — привлечь внимание и спровоцировать перейти на сайт. <br><br>
    a.nc.half  Чаще всего баннеры на форумах буквально кричат о том, чтобы на них нажали. Мы решили пойти по другому пути и сделали мягкую анимацию, которая выделяется своей легкостью. <br><br>
  img.full-width(src="img/inteldome-banners/download-2.gif")
  <br>
  a.nc.otstup  Второй, статичный банер <br><br>
  img.full-width(src="img/inteldome-banners/bann-2.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Дата:
      <br>
      a 15 апреля 2020
