projects/inteldome-site.pug
extends ../base.pug
block content
  div.description
    h1.works Сайт Интелдома
    a(href="inteldome-logo.html") Айдентика
    a - 
    a() Сайт
    a - 
    a(href="inteldome-banners.html") Рекламные баннеры <br><br>
    a.nc.half  Интелдом лучше всех в России защищает цифровые продукты от кибератак. <br><br>
    a.nc.half  Мы сделали сайт, который рассказывает абсолютно о каждом преимуществе компании в трех страницах. <br><br>
    a.nc.half  Дизайн сайта основывается на фирменной графике. Главная страница сразу дает понять чем занимается компания. <br><br>
    a.half(href="https://inteldome.com") inteldome.com
  img.full-width(src="img/inteldome-site/id-index-1-3.png")
  <br>
  a.nc.otstup.half Концепция сайта строится на развилке для трех типов посетителей. Если нужно срочно заказать защиту — используете формочку. <br><br>
  img.full-width(src="img/inteldome-site/id-p1.png")
  <br>
  a.nc.otstup.half Если вас в данным момент не атакуют, но хочется узнать, чем хороша компания — идите в бесконечный список преимуществ компании. <br><br>
  img.full-width(src="img/inteldome-site/id-p2.png")
  <br>
  a.nc.otstup.half Мы собрали всю возможную информацию и пустили огромным списком, снабдив страницу данными, фактами и возможность скопировать каждый пункт. <br><br>
  img.full-width(src="img/inteldome-site/id-l-1.png")
  <br>
  a.nc.otstup.half Интелдом — первая компания, которая рассказывает настолько подробно о киберзащите. <br><br>
  img.full-width(src="img/inteldome-site/id-i-2-3.png")
  <br>
  a.nc.otstup.half Если вам требуется узнать сколько потенциально может стоить ДдоС атака, воспользуйтесь калькулятором. <br><br>
  img.full-width(src="img/inteldome-site/id-p3.png")
  <br>
  a.nc.otstup.half Калькулятор позволяет выбрать свою нишу, вписать данные и получить примерные затраты от кибератак. <br><br>
  img.full-width(src="img/inteldome-site/id-k-1.png")
  <br>
  a.nc.otstup.half Бизнес-линч Лебедева
  iframe.full-width(src="https://www.youtube-nocookie.com/embed/IkrinIDpAZc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  a.nc.otstup.half Отзыв
  img.full-width(src="img/inteldome-site/id-otziv-3.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнеры:
      <br>
      a Катя Кан
      a Никита Грудин
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 22 февраля 2020

projects/inteldome-site.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Сайт Интелдома</h1><a href="inteldome-logo.html">Айдентика</a><a>- </a><a>Сайт</a><a>- </a><a href="inteldome-banners.html">Рекламные баннеры <br><br></a><a class="nc half"> Интелдом лучше всех в России защищает цифровые продукты от кибератак. <br><br></a><a class="nc half"> Мы сделали сайт, который рассказывает абсолютно о каждом преимуществе компании в трех страницах. <br><br></a><a class="nc half"> Дизайн сайта основывается на фирменной графике. Главная страница сразу дает понять чем занимается компания. <br><br></a><a class="half" href="https://inteldome.com">inteldome.com</a></div><img class="full-width" src="img/inteldome-site/id-index-1-3.png"><br><a class="nc otstup half">Концепция сайта строится на развилке для трех типов посетителей. Если нужно срочно заказать защиту — используете формочку. <br><br></a><img class="full-width" src="img/inteldome-site/id-p1.png"><br><a class="nc otstup half">Если вас в данным момент не атакуют, но хочется узнать, чем хороша компания — идите в бесконечный список преимуществ компании. <br><br></a><img class="full-width" src="img/inteldome-site/id-p2.png"><br><a class="nc otstup half">Мы собрали всю возможную информацию и пустили огромным списком, снабдив страницу данными, фактами и возможность скопировать каждый пункт. <br><br></a><img class="full-width" src="img/inteldome-site/id-l-1.png"><br><a class="nc otstup half">Интелдом — первая компания, которая рассказывает настолько подробно о киберзащите. <br><br></a><img class="full-width" src="img/inteldome-site/id-i-2-3.png"><br><a class="nc otstup half">Если вам требуется узнать сколько потенциально может стоить ДдоС атака, воспользуйтесь калькулятором. <br><br></a><img class="full-width" src="img/inteldome-site/id-p3.png"><br><a class="nc otstup half">Калькулятор позволяет выбрать свою нишу, вписать данные и получить примерные затраты от кибератак. <br><br></a><img class="full-width" src="img/inteldome-site/id-k-1.png"><br><a class="nc otstup half">Бизнес-линч Лебедева</a><iframe class="full-width" src="https://www.youtube-nocookie.com/embed/IkrinIDpAZc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><a class="nc otstup half">Отзыв</a><img class="full-width" src="img/inteldome-site/id-otziv-3.png"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнеры:</a><br><a>Катя Кан</a><a>Никита Грудин</a></div><div class="copyrights"><a class="smallfont">Технолог:</a><br><a>Александра Травкина</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>22 февраля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
