projects/inteldome-logo.pug
extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика Интелдома
    a() Айдентика
    a - 
    a(href="inteldome-site.html") Сайт
    a - 
    a(href="inteldome-banners.html") Рекламные баннеры <br><br>
    a.nc.half Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Интелдом обладает самым сильным оборудованием, блестящим сервисом, а теперь безумно стильным логотипом. <br><br>
    a.half(href="https://inteldome.com") inteldome.com
  img.full-width(src="img/inteldome-logo/desktop-12.png")
  <br>
  a.nc.otstup.half Основная идея стиля заключается в главной фишке компании — лучшем сервисе для клиента. Отсюда вытекают образы — купол как защита. Блестка — как интеллект, клиент. Акцентная шестнадцатиконечная звезда — атака. <br><br>
  img.full-width(src="img/inteldome-logo/i-all.png")
  <br>
  a.nc.otstup.half Символы прекрасно соединяются с названием и превращаются в легкий знак <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-3.png")
  img.full-width(src="img/inteldome-logo/i-desktop-4.gif")
  img.full-width(src="img/inteldome-logo/i-desktop-5.png")
  img.full-width(src="img/inteldome-logo/i-desktop-6.png")
  <br>
  a.nc.otstup.half Элемент атаки используется в качестве оформления, а для обозначения защиты достаточно белого пространства под куполом. <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-7.png")
  <br>
  a.nc.otstup.half Стиль позволяет забрендировать все что угодно <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-8.png")
  img.full-width(src="img/inteldome-logo/i-desktop-9.png")
  img.full-width(src="img/inteldome-logo/i-desktop-10.png")
  img.full-width(src="img/inteldome-logo/i-desktop-12-2.gif")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Старший дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 07 февраля 2020

projects/inteldome-logo.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Логотип и айдентика Интелдома</h1><a>Айдентика</a><a>- </a><a href="inteldome-site.html">Сайт</a><a>- </a><a href="inteldome-banners.html">Рекламные баннеры <br><br></a><a class="nc half">Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Интелдом обладает самым сильным оборудованием, блестящим сервисом, а теперь безумно стильным логотипом. <br><br></a><a class="half" href="https://inteldome.com">inteldome.com</a></div><img class="full-width" src="img/inteldome-logo/desktop-12.png"><br><a class="nc otstup half">Основная идея стиля заключается в главной фишке компании — лучшем сервисе для клиента. Отсюда вытекают образы — купол как защита. Блестка — как интеллект, клиент. Акцентная шестнадцатиконечная звезда — атака. <br><br></a><img class="full-width" src="img/inteldome-logo/i-all.png"><br><a class="nc otstup half">Символы прекрасно соединяются с названием и превращаются в легкий знак <br><br></a><img class="full-width" src="img/inteldome-logo/i-desktop-3.png"><img class="full-width" src="img/inteldome-logo/i-desktop-4.gif"><img class="full-width" src="img/inteldome-logo/i-desktop-5.png"><img class="full-width" src="img/inteldome-logo/i-desktop-6.png"><br><a class="nc otstup half">Элемент атаки используется в качестве оформления, а для обозначения защиты достаточно белого пространства под куполом. <br><br></a><img class="full-width" src="img/inteldome-logo/i-desktop-7.png"><br><a class="nc otstup half">Стиль позволяет забрендировать все что угодно <br><br></a><img class="full-width" src="img/inteldome-logo/i-desktop-8.png"><img class="full-width" src="img/inteldome-logo/i-desktop-9.png"><img class="full-width" src="img/inteldome-logo/i-desktop-10.png"><img class="full-width" src="img/inteldome-logo/i-desktop-12-2.gif"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Старший дизайнер:</a><br><a>Катя Кан</a></div><div class="copyrights"><a class="smallfont">Технолог:</a><br><a>Александра Травкина</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>07 февраля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
