projects/kudaeda.pug
extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика для сервиса «Кудаеда»
    a.nc.half «Кудаеда» — микро-медиа в телеграме, которое помогает москвичам обедать в интересных местах. Сервис рассказывает о самых вкусных заведениях очень милым и легким языком. Мы во Дворе сделали для Кудаеды крепкую метафору логотипа и айдентики. <br><br>
    a.nc.half Ключевая идея — сервис в буквальном смысле обламывает поиски и приводит в нужное место. Долго ходишь, хочешь понять где вкусно поесть. На пути появляется кудаеда, которая приводит в нужное место. <br><br>
    a.half(href="tg://resolve?domain=kudaeda") tg/@kudaeda
  img.full-width(src="img/kudaeda/1.jpg")
  a.nc.otstup.half Основу логотипа и стиля составляют три элемента: <br>
  ul.half
    li — Место, в которое приводит сервис.
    li — Путь, который проделывает читатель в поиске еды или отдыха.
    li — Точку, в которую попадают по совету сервиса.
  <br>
  img.full-width(src="img/kudaeda/2-1.jpg")
  img.full-width.mobile(src="img/kudaeda/3-2.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/kudaeda/3-2.jpg)" )
  img.full-width(src="img/kudaeda/4.jpg")
  img.full-width(src="img/kudaeda/2-3.jpg")
  <br>
  a.nc.otstup.half Логотипы для сайта, тг и офлайна. <br><br>
  img.full-width(src="img/kudaeda/5.jpg")
  img.full-width(src="img/kudaeda/6.jpg")
  img.full-width.mobile(src="img/kudaeda/msk.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/kudaeda/msk.jpg)" )
  img.full-width(src="img/kudaeda/9.jpg")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дата:
      <br>
      a 24 августа 2019

projects/kudaeda.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Логотип и айдентика для сервиса «Кудаеда»</h1><a class="nc half">«Кудаеда» — микро-медиа в телеграме, которое помогает москвичам обедать в интересных местах. Сервис рассказывает о самых вкусных заведениях очень милым и легким языком. Мы во Дворе сделали для Кудаеды крепкую метафору логотипа и айдентики. <br><br></a><a class="nc half">Ключевая идея — сервис в буквальном смысле обламывает поиски и приводит в нужное место. Долго ходишь, хочешь понять где вкусно поесть. На пути появляется кудаеда, которая приводит в нужное место. <br><br></a><a class="half" href="tg://resolve?domain=kudaeda">tg/@kudaeda</a></div><img class="full-width" src="img/kudaeda/1.jpg"><a class="nc otstup half">Основу логотипа и стиля составляют три элемента: <br></a><ul class="half"><li>— Место, в которое приводит сервис.</li><li>— Путь, который проделывает читатель в поиске еды или отдыха.</li><li>— Точку, в которую попадают по совету сервиса.</li></ul><br><img class="full-width" src="img/kudaeda/2-1.jpg"><img class="full-width mobile" src="img/kudaeda/3-2.jpg"><div class="full-width parallax desktop" style="background-image: url(img/kudaeda/3-2.jpg)"></div><img class="full-width" src="img/kudaeda/4.jpg"><img class="full-width" src="img/kudaeda/2-3.jpg"><br><a class="nc otstup half">Логотипы для сайта, тг и офлайна. <br><br></a><img class="full-width" src="img/kudaeda/5.jpg"><img class="full-width" src="img/kudaeda/6.jpg"><img class="full-width mobile" src="img/kudaeda/msk.jpg"><div class="full-width parallax desktop" style="background-image: url(img/kudaeda/msk.jpg)"></div><img class="full-width" src="img/kudaeda/9.jpg"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>24 августа 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
