projects/melscience.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Страничка веб-теста Мелсайнс</h1><a href="https://melscience.com/future">✨ melscience.com/future <br><br></a><a class="nc half"> Мелсайнс ломает стереотип о том, что наука трудная, скучная и только для определённых типов людей. Компания делает науку доступной и помогает развивать интерес к ней у детей. <br><br></a><a class="nc half"> Ребята в Мелсайнс придумали тест, который поможет определить кем является ваш ребенок. Для этого они составили вопросы, расписали типы личностей и результаты. Мы во дворе помогли превратить это в интересный и красивый квест — нарисовали и сверстали. Нашей личной задачей было сделать не типичный тест с буллитами, а нечто необычное. <br><br></a><a class="nc half"> Главная страница нас встречает серьезным вопросом.</a></div><img class="full-width" src="img/melscience/mel.png"><br><a class="nc otstup half"> После нажатия на старт начинается тест из семи шагов. Обычный интерфейс подобных тестов — вопрос и ответы с галочками. Мы решили пойти другой дорогой — сделать первый красивый веб-тест. Увеличили всё в размерах, подобрали иллюстрации, проработали формы, кнопочки.</a><img class="full-width" src="img/melscience/mel-2-2.png"><br><a class="nc otstup half"> Придумали несколько видов карточек в тесте, чтобы его было интересно проходить. Сделали полосу прогресса, чтобы знать сколько займет времени тестик. Проработали цвет, свечение и фоновые изображения таким образом, чтобы всё сочеталось с маской Мелсайнса. Формы принимают вид баблов, потому что подразумевается прямая речь ребенка:</a><img class="full-width" src="img/melscience/mel-3-3.png"><br><a class="nc otstup half"> Тесты приводят к одному из четырех типов личностей. Мы сделали универсальную конечную страничку с разными цветами. Весь дизайн сделан с адаптивом по-умолчанию.</a><img class="full-width" src="img/melscience/mel-4-4-4.png"><br><a class="nc otstup half"> Конечная страничка аккуратно скролится внутри, а в конце намекает перейти на основной сайт Мелсайнса. Другие варианты ухода — поделиться либо пройти тест еще раз.</a><img class="full-width" src="img/melscience/mel-5-5-5.png"><br><a class="otstup">💫 Сделано за три недели с опозданием в три дня <br><br></a><a class="otstup">Дизайн: 29 июня — 6 июля <br><br></a><a class="otstup">Вёрстка: 7 июля — 15 июля <br><br></a><a class="otstup">Вёрстка: 7 июля — 15 июля <br><br></a><a class="otstup">Пройдите тестик сами или покажите друзьям —</a><a class="otstup" href="https://melscience.com/future">melscience.com/future <br><br></a><div class="copyright"><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Технолог:</a><br><a>Александра Травкина</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>25 июля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/melscience.pug
extends ../base.pug
block content
  div.description
    h1.works Страничка веб-теста Мелсайнс
    a(href="https://melscience.com/future") ✨ melscience.com/future <br><br>
    a.nc.half  Мелсайнс ломает стереотип о том, что наука трудная, скучная и только для определённых типов людей. Компания делает науку доступной и помогает развивать интерес к ней у детей. <br><br>
    a.nc.half  Ребята в Мелсайнс придумали тест, который поможет определить кем является ваш ребенок. Для этого они составили вопросы, расписали типы личностей и результаты. Мы во дворе помогли превратить это в интересный и красивый квест — нарисовали и сверстали. Нашей личной задачей было сделать не типичный тест с буллитами, а нечто необычное. <br><br>
    a.nc.half  Главная страница нас встречает серьезным вопросом.
  img.full-width(src="img/melscience/mel.png")
  <br>
  a.nc.otstup.half  После нажатия на старт начинается тест из семи шагов. Обычный интерфейс подобных тестов — вопрос и ответы с галочками. Мы решили пойти другой дорогой — сделать первый красивый веб-тест. Увеличили всё в размерах, подобрали иллюстрации, проработали формы, кнопочки.
  img.full-width(src="img/melscience/mel-2-2.png")
  <br>
  a.nc.otstup.half  Придумали несколько видов карточек в тесте, чтобы его было интересно проходить. Сделали полосу прогресса, чтобы знать сколько займет времени тестик. Проработали цвет, свечение и фоновые изображения таким образом, чтобы всё сочеталось с маской Мелсайнса. Формы принимают вид баблов, потому что подразумевается прямая речь ребенка:
  img.full-width(src="img/melscience/mel-3-3.png")
  <br>
  a.nc.otstup.half  Тесты приводят к одному из четырех типов личностей. Мы сделали универсальную конечную страничку с разными цветами. Весь дизайн сделан с адаптивом по-умолчанию.
  img.full-width(src="img/melscience/mel-4-4-4.png")
  <br>
  a.nc.otstup.half  Конечная страничка аккуратно скролится внутри, а в конце намекает перейти на основной сайт Мелсайнса. Другие варианты ухода — поделиться либо пройти тест еще раз.
  img.full-width(src="img/melscience/mel-5-5-5.png")
  <br>
  a.otstup 💫 Сделано за три недели с опозданием в три дня <br><br>
  a.otstup Дизайн: 29 июня — 6 июля <br><br>
  a.otstup Вёрстка: 7 июля — 15 июля <br><br>
  a.otstup Вёрстка: 7 июля — 15 июля <br><br>
  a.otstup Пройдите тестик сами или покажите друзьям —
  a.otstup(href="https://melscience.com/future") melscience.com/future <br><br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 25 июля 2020
