projects/sneakersite.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Сайт Сникерсейла</h1><a>1.0 →</a><a>2.0 <br><br></a><a href="https://sneaker.sale">sneaker.sale</a><a class="nc"> — Сникерсейл — сервис, который аккумулирует в себе лучшие предложения интернет-магазинов. <br><br></a><a class="nc">Главная страница сделана таким образом, чтобы вмещать самое важное — поиск и предложения на первом экране.</a></div><img class="full-width" src="img/sneakersite/index-sn-3.png"><br><a class="nc otstup half">Сайт Сникера использует понятные во всем мире паттерны поиска одежды — выдачу и фильтры.</a><img class="full-width" src="img/sneakersite/rez.png"><br><a class="nc otstup half">Адаптив</a><img class="full-width" src="img/sneakersite/mob1.png"><br><a class="nc otstup half">Карточка кроссовка позволяет очень удобно просмотреть предложения магазинов, отфильтровать обувь по размеру и узнать подробности.</a><img class="full-width" src="img/sneakersite/page-sn-3.png"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Никита Грудин</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>22 декабря 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/sneakersite.pug
extends ../base.pug
block content
  div.description
    h1.works Сайт Сникерсейла
    a() 1.0 →
    a() 2.0 <br><br>
    a(href="https://sneaker.sale") sneaker.sale
    a.nc  — Сникерсейл — сервис, который аккумулирует в себе лучшие предложения интернет-магазинов. <br><br>
    a.nc Главная страница сделана таким образом, чтобы вмещать самое важное — поиск и предложения на первом экране.
  img.full-width(src="img/sneakersite/index-sn-3.png")
  <br>
  a.nc.otstup.half Сайт Сникера использует понятные во всем мире паттерны поиска одежды — выдачу и фильтры.
  img.full-width(src="img/sneakersite/rez.png")
  <br>
  a.nc.otstup.half Адаптив
  img.full-width(src="img/sneakersite/mob1.png")
  <br>
  a.nc.otstup.half Карточка кроссовка позволяет очень удобно просмотреть предложения магазинов, отфильтровать обувь по размеру и узнать подробности.
  img.full-width(src="img/sneakersite/page-sn-3.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Грудин
    div.copyrights
      a.smallfont Дата:
      <br>
      a 22 декабря 2019
