projects/sneakersite2.pug
extends ../base.pug
block content
  div.description
    h1.works Сайт Сникерсейла 2.0
    a() 1.0 → 
    a() 2.0 <br><br>
    a(href="https://sneaker.sale") sneaker.sale
    a()  — сайт верстается и наполняется клиентом. <br><br>
    a.nc В первой версии сайта мы сделали ставку на поиск и выдачу, но пользователям намного удобнее уходить внутрь сайта через подборки и явное разделение по темам. Выдача — слишком большое количество предложений, в ней легко потеряться. Во второй версии мы учли все недочеты и поработали над ошибками. <br><br>
    a.nc Задача — разделить покупателей на более широкие группы; побочно — сделать сайт еще лучше. <br><br>
    a.nc У Сникерсейла новая главная страница.
  img.full-width(src="img/sneakersite2/sneak-ver2-1.png")
  <br>
  a.nc.otstup.half  Главная страница теперь имеет несколько основных путей — поиск, развилку, подборки, выдачу и повторную развилку. <br><br>
  a.nc.otstup.half  Развилка — это классический паттерн для онлайн-магазинов по типу Ламоды, Асоса или Фарфетча. Людям намного удобнее переходить в большой раздел, нежели копаться в бесконечной выдаче. Мы снабдили развилку полезными быстрыми ссылками, чтобы пользователю было удобнее ухватиться глазом за искомую обувь.
  img.full-width(src="img/sneakersite2/sneak-ver2-2.png")
  <br>
  a.nc.otstup.half  Мобильное меню наполнилось дополнительными удобными функциями
  img.full-width(src="img/sneakersite2/sneak-ver2-3.png")
  <br>
  a.nc.otstup.half  Мы доработали выдачу, исправили недочеты предыдущей версии и добавили возможность работать с выбранными фильтрами.
  img.full-width(src="img/sneakersite2/sneak-ver2-4.png")
  <br>
  a.nc.otstup.half  Полностью пересобрали мобильные фильтры, теперь искать обувь с телефона намного удобнее.
  img.full-width(src="img/sneakersite2/sneak-ver2-5.png")
  <br>
  a.nc.otstup.half  В новой карточке товара мы добавили промокоды внутрь предложений магазинов и изобрели новый способ работы с размерами. Теперь достаточно нажать на нужный размер, чтобы увидеть его же в других размерных сетках. Это намного быстрее позволяет выбрать обувь и перейти к покупке.
  img.full-width(src="img/sneakersite2/sneak-ver2-6.png")
  <br>
  a.nc.otstup.half  Теперь у Сникера есть безумная темная тема, которая распространяется на весь интерфейс.
  img.full-width(src="img/sneakersite2/index-sn-7.png")
  <br>
  a.nc.otstup.half  Разработали единое хранилище всех вопросов, которое раньше было только в группе вк.
  img.full-width(src="img/sneakersite2/index-sn-8.png")
  <br>
  a.nc.otstup.half  Также мы разработали Сникеру личный кабинет, но об этом в следующий раз. Как только опубликуем проект лк, здесь появится ссылка.
  img.full-width(src="img/sneakersite2/index-sn-8-1.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Грудин
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Дата:
      <br>
      a 7 апреля 2020

projects/sneakersite2.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Сайт Сникерсейла 2.0</h1><a>1.0 → </a><a>2.0 <br><br></a><a href="https://sneaker.sale">sneaker.sale</a><a> — сайт верстается и наполняется клиентом. <br><br></a><a class="nc">В первой версии сайта мы сделали ставку на поиск и выдачу, но пользователям намного удобнее уходить внутрь сайта через подборки и явное разделение по темам. Выдача — слишком большое количество предложений, в ней легко потеряться. Во второй версии мы учли все недочеты и поработали над ошибками. <br><br></a><a class="nc">Задача — разделить покупателей на более широкие группы; побочно — сделать сайт еще лучше. <br><br></a><a class="nc">У Сникерсейла новая главная страница.</a></div><img class="full-width" src="img/sneakersite2/sneak-ver2-1.png"><br><a class="nc otstup half"> Главная страница теперь имеет несколько основных путей — поиск, развилку, подборки, выдачу и повторную развилку. <br><br></a><a class="nc otstup half"> Развилка — это классический паттерн для онлайн-магазинов по типу Ламоды, Асоса или Фарфетча. Людям намного удобнее переходить в большой раздел, нежели копаться в бесконечной выдаче. Мы снабдили развилку полезными быстрыми ссылками, чтобы пользователю было удобнее ухватиться глазом за искомую обувь.</a><img class="full-width" src="img/sneakersite2/sneak-ver2-2.png"><br><a class="nc otstup half"> Мобильное меню наполнилось дополнительными удобными функциями</a><img class="full-width" src="img/sneakersite2/sneak-ver2-3.png"><br><a class="nc otstup half"> Мы доработали выдачу, исправили недочеты предыдущей версии и добавили возможность работать с выбранными фильтрами.</a><img class="full-width" src="img/sneakersite2/sneak-ver2-4.png"><br><a class="nc otstup half"> Полностью пересобрали мобильные фильтры, теперь искать обувь с телефона намного удобнее.</a><img class="full-width" src="img/sneakersite2/sneak-ver2-5.png"><br><a class="nc otstup half"> В новой карточке товара мы добавили промокоды внутрь предложений магазинов и изобрели новый способ работы с размерами. Теперь достаточно нажать на нужный размер, чтобы увидеть его же в других размерных сетках. Это намного быстрее позволяет выбрать обувь и перейти к покупке.</a><img class="full-width" src="img/sneakersite2/sneak-ver2-6.png"><br><a class="nc otstup half"> Теперь у Сникера есть безумная темная тема, которая распространяется на весь интерфейс.</a><img class="full-width" src="img/sneakersite2/index-sn-7.png"><br><a class="nc otstup half"> Разработали единое хранилище всех вопросов, которое раньше было только в группе вк.</a><img class="full-width" src="img/sneakersite2/index-sn-8.png"><br><a class="nc otstup half"> Также мы разработали Сникеру личный кабинет, но об этом в следующий раз. Как только опубликуем проект лк, здесь появится ссылка.</a><img class="full-width" src="img/sneakersite2/index-sn-8-1.png"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Никита Грудин</a></div><div class="copyrights"><a class="smallfont">Иллюстратор:</a><br><a>Катя Кан</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>7 апреля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
