projects/studio.pug
extends ../base.pug
block content
  link(rel="stylesheet" href="css/studio.css")
  div.description
    h1 Студия <br><br>
    h2 Наши клиенты
    ul
      li - Сникерсейл (Свитерсейл. Саппортсейл)
      li - SPB Tennis Academy
      li - Qweep
      li - inteldome
      li - Дом напротив
    h2 Начать проект
    p.nc.italic Что вы делаете и зачем? Почему вы этим занимаетесь? Как в преподносите и продаете свой товар или услугу? В чем ваша общая цель? Какаие проблемы мешают вам ее добиться? Почему важно их решить сейчас? Сколько у вас времени? Что имеет смысл нам знать перед разговором? Почему хотите работать с нами?<br>
    a.nc Почта внизу <br>
    div#contact
      a.nc Телеграм:
      a(href="tg://resolve?domain=veqqa") @veqqa <br><br>
      a.nc Канал: 
      a(href="tg://resolve?domain=dvordesign") @dvordesign <br><br>
      a.nc  Дата основания — август 2019 <br><br>
      
  

projects/studio.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><link rel="stylesheet" href="css/studio.css"><div class="description"><h1>Студия <br><br></h1><h2>Наши клиенты</h2><ul><li>- Сникерсейл (Свитерсейл. Саппортсейл)</li><li>- SPB Tennis Academy</li><li>- Qweep</li><li>- inteldome</li><li>- Дом напротив</li></ul><h2>Начать проект</h2><p class="nc italic">Что вы делаете и зачем? Почему вы этим занимаетесь? Как в преподносите и продаете свой товар или услугу? В чем ваша общая цель? Какаие проблемы мешают вам ее добиться? Почему важно их решить сейчас? Сколько у вас времени? Что имеет смысл нам знать перед разговором? Почему хотите работать с нами?<br></p><a class="nc">Почта внизу <br></a><div id="contact"><a class="nc">Телеграм:</a><a href="tg://resolve?domain=veqqa">@veqqa <br><br></a><a class="nc">Канал: </a><a href="tg://resolve?domain=dvordesign">@dvordesign <br><br></a><a class="nc"> Дата основания — август 2019 <br><br></a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
