projects/supportsale-logo.pug
extends ../base.pug
block content
  div.description
    h1.works Логотип для Саппортсейла
    a.nc Саппортсейл — сервис Сникерсейла для работы с клиентами. Задача сервиса — оперативно отвечать на все вопросы и помогать пользователям. Задача логотипа и стиля — передавать эту идею. <br><br>
    a.nc Концепция строится на метафоре бушующих волн и спасательного круга. Волны — вопросы и проблемы пользователей. Спасательный круг — сервис, который помогает разобраться с вопросами и проблемами. Логотип сделан в форме этого круга, который одновременно является диалоговым окном.
  img.full-width(src="img/supportsale-logo/supp-5.png")
  <br>
  a.nc.otstup Вопросы пользователей — огроменные волны.
  img.full-width(src="img/supportsale-logo/supp-vk.png")
  <br>
  a.nc.otstup Фирменные иконки
  img.full-width(src="img/supportsale-logo/supp-ico.png") 
  <br>
  a.nc.otstup И паттерн
  img.full-width(src="img/supportsale-logo/supp-9.png")
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дата:
      <br>
      a 21 июля 2020

projects/supportsale-logo.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Логотип для Саппортсейла</h1><a class="nc">Саппортсейл — сервис Сникерсейла для работы с клиентами. Задача сервиса — оперативно отвечать на все вопросы и помогать пользователям. Задача логотипа и стиля — передавать эту идею. <br><br></a><a class="nc">Концепция строится на метафоре бушующих волн и спасательного круга. Волны — вопросы и проблемы пользователей. Спасательный круг — сервис, который помогает разобраться с вопросами и проблемами. Логотип сделан в форме этого круга, который одновременно является диалоговым окном.</a></div><img class="full-width" src="img/supportsale-logo/supp-5.png"><br><a class="nc otstup">Вопросы пользователей — огроменные волны.</a><img class="full-width" src="img/supportsale-logo/supp-vk.png"><br><a class="nc otstup">Фирменные иконки</a><img class="full-width" src="img/supportsale-logo/supp-ico.png"><br><a class="nc otstup">И паттерн</a><img class="full-width" src="img/supportsale-logo/supp-9.png"><div class="copyright"><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>21 июля 2020</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
