projects/sweatersale-zastavka.pug
extends ../base.pug
block content
  div.description
    h1.works Заставка в группу Свитерсейла
    a.nc Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. Задача — донести сильную сторону сервиса. Мы придумали ролик в котором показываются подозрительные вещи, а оригинальные ниже — в паблике. <br><br>
    <iframe src="https://player.vimeo.com/video/366609711" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Иван Ветошкин
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Копирайтер:
      <br>
      a Костя Деш
    div.copyrights
      a.smallfont Дата:
      <br>
      a 15 октября 2019

projects/sweatersale-zastavka.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Заставка в группу Свитерсейла</h1><a class="nc">Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. Задача — донести сильную сторону сервиса. Мы придумали ролик в котором показываются подозрительные вещи, а оригинальные ниже — в паблике. <br><br></a><iframe src="https://player.vimeo.com/video/366609711" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Иван Ветошкин</a></div><div class="copyrights"><a class="smallfont">Иллюстратор:</a><br><a>Вика Тэ</a></div><div class="copyrights"><a class="smallfont">Копирайтер:</a><br><a>Костя Деш</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>15 октября 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
