projects/sweatersale-animate.pug
extends ../base.pug
block content
  div.description
    h1.works Анимационная заставка в группу Свитерсейла
    a.nc Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. <br><br>
    a.nc.italic Задача — коротко показать как работает сервис. <br><br>
    a.nc В приложении Вконтакте есть возможность разместить живые обложки — зацикленные анимационные ролики. Для Свитерсейла мы разработали короткий, анимационный ролик. Свитер отвечает за вещи, поэтому сам их достает и закидывает вниз, прямо в паблик. <br><br>
    <iframe src="https://player.vimeo.com/video/371987526" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Потапов
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Копирайтер:
      <br>
      a Костя Деш
    div.copyrights
      a.smallfont Дата:
      <br>
      a 09 ноября 2019

projects/sweatersale-animate.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Анимационная заставка в группу Свитерсейла</h1><a class="nc">Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. <br><br></a><a class="nc italic">Задача — коротко показать как работает сервис. <br><br></a><a class="nc">В приложении Вконтакте есть возможность разместить живые обложки — зацикленные анимационные ролики. Для Свитерсейла мы разработали короткий, анимационный ролик. Свитер отвечает за вещи, поэтому сам их достает и закидывает вниз, прямо в паблик. <br><br></a><iframe src="https://player.vimeo.com/video/371987526" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><br><div class="copyright"><div class="copyrights"><a class="smallfont">Арт-директор:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Никита Потапов</a></div><div class="copyrights"><a class="smallfont">Иллюстратор:</a><br><a>Вика Тэ</a></div><div class="copyrights"><a class="smallfont">Копирайтер:</a><br><a>Костя Деш</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>09 ноября 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>
