projects/sweatersale-logo.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><link rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><link rel="canonical" href="http://dvor.design"><link rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css"><title>Дизайн-студия «Dvor»</title><body link="#4f7fff"><header><div style="height=100px;"><a href="http://new-dvor.dvor.design/index.html"><img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo"></a><a id="proj" href="http://new-dvor.dvor.design/projects.html">Проекты</a><a id="stud" href="http://new-dvor.dvor.design/studio.html">Студия</a></div></header><div class="description"><h1 class="works">Концепция и персонаж для Свитерсейла</h1><a class="nc half">Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. <br><br></a><a class="nc otstup half">Что знаем: <br></a><ul class="half"><li>1. Все любят хайповую одежду и хотят ее купить.</li><li>2. Вещи дорогие, поэтому покупают ограниченное количество, на скидках или паленное.</li><li>3. Аудитория — молодые и дерзкие.</li></ul><br><a class="nc half">Задача — придумать стиль, который будет говорить о том, что у сервиса модная одежда — доступна. <br><br></a><a class="nc half">Решение — персонаж свитер, который поможет без проблем найти скидон, не упустит деталей, говорит на понятном языке с аудиторией, не обманет и решит все проблемы. <br><br></a><a class="half" href="tg://resolve?domain=sweatersale">tg/@sweatersale</a></div><img class="full-width" src="img/sweatersale-logo/s1.jpg"><a class="nc otstup half">В первой итерации мы пришли к персонажу, который очень добрый. Аудитория Свитерсейла помоложе и любит более жесткий юмор и способ общения. А значит персонаж должен все это олицетворять. Вместе с клиентом мы проработали концепцию и придумали новый образ. <br></a><img class="full-width" src="img/sweatersale-logo/s1-2.jpg"><img class="full-width mobile" src="sweatersale-logo/s2.jpg"><div class="full-width parallax desktop" style="background-image: url(img/sweatersale-logo/s2.jpg)"></div><a class="nc otstup half">Проработали цвета и придумали паттерн из скидок, который выглядит как настоящий дедовский свитер. <br><br></a><img class="full-width" src="img/sweatersale-logo/s3.jpg"><a class="nc otstup half">Свитер может использоваться в самых разных коммуникациях бренда, очень легко адаптируется под мемы, аудиторию и любые события. Пример использования с брендом comme des garcons. <br><br></a><img class="full-width" src="img/sweatersale-logo/s4.jpg"><img class="full-width mobile" src="img/sweatersale-logo/s7.jpg"><div class="full-width parallax desktop" style="background-image: url(img/sweatersale-logo/s7.jpg)"><br><br></div><a class="nc otstup half">Самая сложная часть работы — поиск выражений лица, форм рук и посылов, который может транслировать персонаж. <br><br></a><img class="full-width" src="img/sweatersale-logo/s5.jpg"><img class="full-width" src="img/sweatersale-logo/s6.jpg"><img class="full-width" src="img/sweatersale-logo/s8.jpg"><br><div class="copyright"><div class="copyrights"><a class="smallfont">Дизайнер:</a><br><a>Вениамин Векк</a></div><div class="copyrights"><a class="smallfont">Иллюстратор:</a><br><a>Вика Тэ</a></div><div class="copyrights"><a class="smallfont">Дата:</a><br><a>20 августа 2019</a></div></div><div class="footer"><p>2019 ☞ 2020</p><a href="mailto:yo@dvor.design">yo@dvor.design</a></div></body></html>

projects/sweatersale-logo.pug
extends ../base.pug
block content
  div.description
    h1.works Концепция и персонаж для Свитерсейла
    a.nc.half Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. <br><br>
    a.nc.otstup.half Что знаем: <br>
    ul.half
      li 1. Все любят хайповую одежду и хотят ее купить.
      li 2. Вещи дорогие, поэтому покупают ограниченное количество, на скидках или паленное.
      li 3. Аудитория — молодые и дерзкие.
    <br>
    a.nc.half Задача — придумать стиль, который будет говорить о том, что у сервиса модная одежда — доступна. <br><br>
    a.nc.half Решение — персонаж свитер, который поможет без проблем найти скидон, не упустит деталей, говорит на понятном языке с аудиторией, не обманет и решит все проблемы. <br><br>
    a.half(href="tg://resolve?domain=sweatersale") tg/@sweatersale
  img.full-width(src="img/sweatersale-logo/s1.jpg")
  a.nc.otstup.half В первой итерации мы пришли к персонажу, который очень добрый. Аудитория Свитерсейла помоложе и любит более жесткий юмор и способ общения. А значит персонаж должен все это олицетворять. Вместе с клиентом мы проработали концепцию и придумали новый образ. <br>
  img.full-width(src="img/sweatersale-logo/s1-2.jpg")
  img.full-width.mobile(src="sweatersale-logo/s2.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/sweatersale-logo/s2.jpg)" )
  a.nc.otstup.half Проработали цвета и придумали паттерн из скидок, который выглядит как настоящий дедовский свитер. <br><br>
  img.full-width(src="img/sweatersale-logo/s3.jpg")
  a.nc.otstup.half Свитер может использоваться в самых разных коммуникациях бренда, очень легко адаптируется под мемы, аудиторию и любые события. Пример использования с брендом comme des garcons. <br><br>
  img.full-width(src="img/sweatersale-logo/s4.jpg")
  img.full-width.mobile(src="img/sweatersale-logo/s7.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/sweatersale-logo/s7.jpg)" ) <br><br>
  a.nc.otstup.half Самая сложная часть работы — поиск выражений лица, форм рук и посылов, который может транслировать персонаж. <br><br>
  img.full-width(src="img/sweatersale-logo/s5.jpg")
  img.full-width(src="img/sweatersale-logo/s6.jpg")
  img.full-width(src="img/sweatersale-logo/s8.jpg")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Дата:
      <br>
      a 20 августа 2019
